@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default state */
.inventory-tab {
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
}

.inventory-tab .tab-text {
    color: black;
    position: relative;
    z-index: 2;
}

.inventory-tab .tab-indicator {
    opacity: 0;
}

/* Hover state */
.inventory-tab:hover {
    background-color: rgba(249, 29, 124, 0.1);
    /* #F91D7C with 10% opacity */
}

.inventory-tab:hover .tab-text {
    color: #db2777;
    /* pink-600 */
}

/* Active state */
.inventory-tab.active {
    background-color: transparent;
    /* No background when active */
}

.inventory-tab.active .tab-text {
    color: #db2777;
    /* pink-600 */
}

.inventory-tab.active .tab-indicator {
    opacity: 1;
}
